In [1]:
import pandas as pd
import numpy as np

In [2]:
# assign data
df_train = pd.read_csv('Data/BPI Challenge 2012/BPI_Challenge_2012-training.csv')
df_test = pd.read_csv('Data/BPI Challenge 2012/BPI_Challenge_2012-test.csv')

In [3]:
# assign column names to variables for ease

cEvent = 'event concept:name'
cNew = 'next event'
cPred = 'predicted next event'

df_train[cPred] = np.nan
df_train[cNew] = np.nan
df_train.tail()

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,predicted next event,next event
214372,38835094290529,201854,2012-01-18T02:09:07.029+01:00,50000,O_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,NaN
214373,38835094290528,201854,2012-01-18T02:09:07.029+01:00,50000,A_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,NaN
214374,38835094290530,201854,2012-01-18T02:09:07.029+01:00,50000,W_Nabellen incomplete dossiers,COMPLETE,14-03-2012 15:30:23.187,NaN,NaN
214375,35858681954366,199678,2012-01-10T19:16:52.800+01:00,30000,W_Nabellen offertes,START,14-03-2012 15:36:15.299,NaN,NaN
214376,35858681954367,199678,2012-01-10T19:16:52.800+01:00,30000,W_Nabellen offertes,COMPLETE,14-03-2012 15:40:34.231,NaN,NaN

In [4]:
# create list of all possible events and display if correct

lstEvents = df_train[cEvent].unique().tolist()
lstEvents

['A_SUBMITTED',
 'A_PARTLYSUBMITTED',
 'A_PREACCEPTED',
 'W_Completeren aanvraag',
 'A_DECLINED',
 'W_Afhandelen leads',
 'A_ACCEPTED',
 'O_SELECTED',
 'A_FINALIZED',
 'O_CREATED',
 'O_SENT',
 'W_Nabellen offertes',
 'O_CANCELLED',
 'A_CANCELLED',
 'W_Beoordelen fraude',
 'O_SENT_BACK',
 'W_Valideren aanvraag',
 'W_Nabellen incomplete dossiers',
 'O_ACCEPTED',
 'A_APPROVED',
 'A_ACTIVATED',
 'A_REGISTERED',
 'O_DECLINED',
 'W_Wijzigen contractgegevens']

In [5]:
# helper function
def simple_pred(df, lst, cEvnt, cPrd, cNw):
    '''loops through the list of events and adds them to the df'''
    i = 0
    while i < len(lst):
        df.loc[df[cEvnt] == lst[i], cPrd] = df[df[cEvnt] == lst[i]][cNw].mode()[0]
        i += 1
    return df

def addNextEvent(df, num, lst, cEvnt, cNw):
    '''function that adds the next event in every trace '''
    for i in range(len(lst)):
        trace = df[df[df.columns[num]] == lst[i]].copy()
        trace[cNw] = trace[cEvnt].shift(-1)
        df.update(trace)
    
    return df

In [6]:
# assign prediction
# simple_pred(df_train, lstEvents, cEvent, cPred, cNew)

In [7]:
# check
df_train.head()

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,predicted next event,next event
0,0,173688,2011-10-01T00:38:44.546+02:00,20000,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546,NaN,NaN
1,1,173688,2011-10-01T00:38:44.546+02:00,20000,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880,NaN,NaN
2,2,173688,2011-10-01T00:38:44.546+02:00,20000,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906,NaN,NaN
3,3,173688,2011-10-01T00:38:44.546+02:00,20000,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875,NaN,NaN
4,4294967296,173691,2011-10-01T08:08:58.256+02:00,5000,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256,NaN,NaN

In [66]:
traceEvents = df_train[df_train.columns[1]].unique().tolist()

traceEvents

[173688,
 173691,
 173694,
 173697,
 173700,
 173703,
 173706,
 173709,
 173712,
 173715,
 173718,
 173721,
 173724,
 173727,
 173730,
 173733,
 173736,
 173739,
 173742,
 173745,
 173748,
 173751,
 173754,
 173757,
 173760,
 173763,
 173766,
 173769,
 173772,
 173775,
 173778,
 173781,
 173784,
 173787,
 173790,
 173793,
 173796,
 173799,
 173802,
 173805,
 173808,
 173811,
 173814,
 173817,
 173820,
 173823,
 173826,
 173829,
 173832,
 173835,
 173838,
 173841,
 173844,
 173847,
 173850,
 173853,
 173856,
 173859,
 173862,
 173865,
 173868,
 173871,
 173874,
 173877,
 173880,
 173883,
 173886,
 173889,
 173892,
 173895,
 173898,
 173901,
 173904,
 173907,
 173910,
 173913,
 173916,
 173919,
 173922,
 173925,
 173928,
 173931,
 173934,
 173937,
 173940,
 173943,
 173946,
 173949,
 173952,
 173955,
 173958,
 173961,
 173964,
 173979,
 173982,
 173985,
 173988,
 173991,
 173994,
 173997,
 174000,
 174003,
 174006,
 174009,
 174012,
 174015,
 174018,
 174021,
 174024,
 174027,
 174030,
 174033,
 174036,
 174039,
 174042,
 174045,
 174048,
 174051,
 174054,
 174057,
 174060,
 174063,
 174066,
 174069,
 174072,
 174075,
 174078,
 174081,
 174084,
 174087,
 174090,
 174093,
 174096,
 174099,
 174102,
 174105,
 174108,
 174111,
 174114,
 174117,
 174120,
 174123,
 174126,
 174129,
 174132,
 174135,
 174138,
 174141,
 174144,
 174147,
 174150,
 174153,
 174156,
 174159,
 174162,
 174165,
 174168,
 174171,
 174174,
 174177,
 174180,
 174183,
 174186,
 174189,
 174192,
 174195,
 174198,
 174201,
 174204,
 174207,
 174210,
 174213,
 174216,
 174219,
 174222,
 174225,
 174228,
 174231,
 174234,
 174237,
 174240,
 174243,
 174246,
 174249,
 174252,
 174255,
 174258,
 174261,
 174264,
 174267,
 174270,
 174273,
 174276,
 174279,
 174282,
 174285,
 174288,
 174291,
 174294,
 174297,
 174300,
 174303,
 174319,
 174322,
 174325,
 174328,
 174331,
 174334,
 174337,
 174340,
 174343,
 174346,
 174349,
 174352,
 174355,
 174358,
 174361,
 174364,
 174367,
 174370,
 174373,
 174376,
 174379,
 174382,
 174385,
 174388,
 174391,
 174394,
 174397,
 174400,
 174403,
 174406,
 174409,
 174412,
 174415,
 174418,
 174421,
 174424,
 174427,
 174430,
 174433,
 174436,
 174439,
 174442,
 174445,
 174448,
 174451,
 174454,
 174457,
 174460,
 174463,
 174466,
 174469,
 174472,
 174475,
 174478,
 174481,
 174484,
 174487,
 174490,
 174493,
 174496,
 174499,
 174502,
 174505,
 174508,
 174511,
 174514,
 174517,
 174520,
 174523,
 174526,
 174529,
 174532,
 174535,
 174538,
 174541,
 174544,
 174547,
 174559,
 174562,
 174565,
 174568,
 174571,
 174574,
 174577,
 174599,
 174602,
 174605,
 174608,
 174611,
 174614,
 174617,
 174620,
 174623,
 174626,
 174629,
 174632,
 174635,
 174638,
 174641,
 174644,
 174647,
 174650,
 174653,
 174656,
 174659,
 174662,
 174665,
 174668,
 174671,
 174674,
 174677,
 174680,
 174683,
 174686,
 174689,
 174692,
 174695,
 174698,
 174701,
 174704,
 174707,
 174710,
 174713,
 174716,
 174719,
 174722,
 174725,
 174728,
 174731,
 174734,
 174737,
 174740,
 174743,
 174746,
 174749,
 174752,
 174755,
 174758,
 174761,
 174764,
 174767,
 174770,
 174773,
 174776,
 174779,
 174782,
 174785,
 174788,
 174791,
 174794,
 174797,
 174800,
 174803,
 174806,
 174809,
 174812,
 174815,
 174818,
 174821,
 174824,
 174827,
 174830,
 174833,
 174836,
 174839,
 174842,
 174845,
 174848,
 174851,
 174854,
 174857,
 174860,
 174863,
 174866,
 174869,
 174872,
 174875,
 174878,
 174881,
 174884,
 174887,
 174890,
 174893,
 174896,
 174899,
 174902,
 174905,
 174908,
 174911,
 174914,
 174917,
 174920,
 174923,
 174926,
 174929,
 174932,
 174935,
 174938,
 174941,
 174944,
 174947,
 174950,
 174953,
 174956,
 174959,
 174962,
 174965,
 174968,
 174979,
 174982,
 174985,
 174988,
 174991,
 174994,
 174997,
 175000,
 175003,
 175006,
 175009,
 175012,
 175015,
 175018,
 175021,
 175024,
 175027,
 175030,
 175033,
 175036,
 175039,
 175042,
 175045,
 175048,
 175051,
 175054,
 175057,
 175060,
 175063,
 175066,
 175069,
 175072,
 175075,
 175078,
 175081,
 175084,
 175087,
 175090,
 175093,
 175096,
 175099,
 175102,
 175105,
 175108,
 175111,
 175114,
 175117,
 175120,
 175123,
 175126,
 175129,
 175132,
 175135,
 175138,
 175141,
 175144,
 175147,
 175150,
 175153,
 175156,
 175159,
 175162,
 175165,
 175168,
 175171,
 175174,
 175177,
 175180,
 175183,
 175186,
 175189,
 175192,
 175195,
 175198,
 175201,
 175204,
 175219,
 175222,
 175225,
 175228,
 175231,
 175234,
 175239,
 175242,
 175245,
 175248,
 175251,
 175254,
 175257,
 175260,
 175263,
 175266,
 175269,
 175272,
 175275,
 175278,
 175281,
 175284,
 175287,
 175290,
 175293,
 175296,
 175299,
 175302,
 175305,
 175308,
 175311,
 175314,
 175317,
 175320,
 175323,
 175326,
 175329,
 175332,
 175335,
 175338,
 175341,
 175344,
 175347,
 175350,
 175353,
 175356,
 175359,
 175362,
 175365,
 175368,
 175371,
 175374,
 175377,
 175380,
 175383,
 175386,
 175389,
 175392,
 175395,
 175398,
 175401,
 175404,
 175407,
 175410,
 175413,
 175416,
 175419,
 175422,
 175425,
 175428,
 175431,
 175434,
 175437,
 175440,
 175443,
 175446,
 175449,
 175452,
 175455,
 175458,
 175461,
 175464,
 175467,
 175470,
 175473,
 175476,
 175479,
 175482,
 175485,
 175488,
 175491,
 175494,
 175497,
 175500,
 175519,
 175522,
 175525,
 175528,
 175531,
 175534,
 175537,
 175540,
 175543,
 175546,
 175549,
 175552,
 175555,
 175558,
 175561,
 175564,
 175567,
 175570,
 175573,
 175576,
 175579,
 175582,
 175585,
 175588,
 175591,
 175594,
 175597,
 175600,
 175603,
 175606,
 175609,
 175612,
 175615,
 175618,
 175621,
 175624,
 175627,
 175630,
 175633,
 175636,
 175639,
 175642,
 175645,
 175648,
 175651,
 175654,
 175657,
 175660,
 175663,
 175666,
 175669,
 175672,
 175675,
 175678,
 175681,
 175684,
 175687,
 175690,
 175693,
 175696,
 175699,
 175702,
 175705,
 175708,
 175711,
 175714,
 175717,
 175720,
 175723,
 175726,
 175729,
 175732,
 175735,
 175738,
 175741,
 175744,
 175747,
 175750,
 175753,
 175756,
 175759,
 175762,
 175765,
 175768,
 175771,
 175774,
 175777,
 175780,
 175783,
 175786,
 175789,
 175792,
 175795,
 175798,
 175801,
 175804,
 175807,
 175810,
 175813,
 175816,
 175819,
 175822,
 175825,
 175828,
 175831,
 175834,
 175837,
 175840,
 175843,
 175846,
 175859,
 175862,
 175865,
 175868,
 175871,
 175874,
 175877,
 175880,
 175883,
 175886,
 175889,
 175892,
 175895,
 175898,
 175901,
 175904,
 175907,
 175910,
 175913,
 175916,
 175919,
 175922,
 175925,
 175928,
 175931,
 175934,
 175937,
 175940,
 175943,
 175946,
 175949,
 175952,
 175955,
 175958,
 175961,
 175964,
 175967,
 175970,
 175973,
 175976,
 175979,
 175982,
 175985,
 175988,
 175991,
 175994,
 175997,
 176000,
 176003,
 176006,
 176009,
 176012,
 176015,
 176018,
 176021,
 176024,
 176027,
 176030,
 176033,
 176036,
 176039,
 176042,
 176045,
 176048,
 176051,
 176054,
 176057,
 176060,
 176063,
 176066,
 176069,
 176072,
 176075,
 176078,
 176081,
 176084,
 176087,
 176090,
 176093,
 176096,
 176099,
 176102,
 176105,
 176119,
 176122,
 176125,
 176128,
 176131,
 176134,
 176137,
 176140,
 176143,
 176146,
 176149,
 176152,
 176155,
 176158,
 176161,
 176164,
 176167,
 176170,
 176173,
 176176,
 176179,
 176182,
 176185,
 176188,
 176191,
 176194,
 176197,
 176200,
 176203,
 176206,
 176209,
 176212,
 176215,
 176218,
 176221,
 176224,
 176227,
 176230,
 176233,
 176236,
 176239,
 176242,
 176245,
 176248,
 176251,
 176254,
 176257,
 176260,
 176263,
 176266,
 176269,
 176272,
 176275,
 176278,
 176281,
 176284,
 176287,
 176290,
 176293,
 176296,
 176299,
 176302,
 176305,
 176308,
 176311,
 176314,
 176317,
 176320,
 176323,
 176326,
 176329,
 176332,
 176339,
 176342,
 176345,
 176359,
 176362,
 176365,
 176368,
 176371,
 176374,
 176377,
 176380,
 176383,
 176386,
 176389,
 176392,
 176395,
 176398,
 176401,
 176404,
 176407,
 176410,
 176413,
 176416,
 176419,
 176422,
 176425,
 176428,
 176431,
 176434,
 176437,
 176440,
 176443,
 176446,
 176449,
 176452,
 176455,
 176458,
 176461,
 176464,
 176467,
 176470,
 176473,
 176476,
 176479,
 176482,
 176485,
 176488,
 176491,
 176494,
 176497,
 176500,
 176503,
 176506,
 176509,
 176512,
 176515,
 176518,
 176521,
 176524,
 176527,
 176530,
 176533,
 176536,
 176539,
 176542,
 176545,
 176548,
 176551,
 176554,
 176557,
 176560,
 176563,
 176566,
 176569,
 176572,
 176575,
 176578,
 176581,
 176584,
 176587,
 176590,
 176593,
 176596,
 176599,
 176602,
 176605,
 176608,
 176611,
 176614,
 176617,
 176620,
 176623,
 176626,
 176629,
 176632,
 176635,
 176639,
 176642,
 176645,
 176648,
 176651,
 176654,
 176657,
 176660,
 176663,
 176666,
 176669,
 176672,
 176675,
 176678,
 176681,
 176684,
 176687,
 176690,
 176693,
 176696,
 176699,
 176702,
 176705,
 176708,
 176711,
 176714,
 176717,
 176720,
 176723,
 176726,
 176729,
 176732,
 176735,
 176738,
 176741,
 176744,
 176747,
 176750,
 176753,
 176756,
 176759,
 176762,
 176765,
 176768,
 176771,
 176774,
 176777,
 176780,
 176783,
 176786,
 176789,
 176792,
 176795,
 176798,
 176801,
 176804,
 176807,
 176810,
 176813,
 ...]

In [9]:
addNextEvent(df_train, 1, traceEvents, cEvent, cNew)

In [10]:
dfEvent = df_train

In [11]:
dfEvent.to_pickle('nextEventPickle.pickle')

In [12]:
savedState = pd.read_pickle('nextEventPickle.pickle')

In [13]:
savedState

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,predicted next event,next event
0,0.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546,NaN,A_PARTLYSUBMITTED
1,1.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880,NaN,A_PREACCEPTED
2,2.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906,NaN,W_Completeren aanvraag
3,3.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875,NaN,W_Completeren aanvraag
4,4.294967e+09,173691.0,2011-10-01T08:08:58.256+02:00,5000.0,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256,NaN,A_PARTLYSUBMITTED
...,...,...,...,...,...,...,...,...,...
214372,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,O_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,A_CANCELLED
214373,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,A_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,W_Nabellen incomplete dossiers
214374,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,W_Nabellen incomplete dossiers,COMPLETE,14-03-2012 15:30:23.187,NaN,NaN
214375,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,START,14-03-2012 15:36:15.299,NaN,W_Nabellen offertes
214376,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,COMPLETE,14-03-2012 15:40:34.231,NaN,NaN

In [26]:
x = savedState[savedState['case concept:name'] == 173688]

In [35]:
x[x['event concept:name'] == 'W_Completeren aanvraag']['next event'].mode()[0]

'A_ACCEPTED'

In [37]:
savedState

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,predicted next event,next event
0,0.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546,NaN,A_PARTLYSUBMITTED
1,1.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880,NaN,A_PREACCEPTED
2,2.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906,NaN,W_Completeren aanvraag
3,3.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875,NaN,W_Completeren aanvraag
4,4.294967e+09,173691.0,2011-10-01T08:08:58.256+02:00,5000.0,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256,NaN,A_PARTLYSUBMITTED
...,...,...,...,...,...,...,...,...,...
214372,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,O_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,A_CANCELLED
214373,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,A_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,W_Nabellen incomplete dossiers
214374,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,W_Nabellen incomplete dossiers,COMPLETE,14-03-2012 15:30:23.187,NaN,NaN
214375,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,START,14-03-2012 15:36:15.299,NaN,W_Nabellen offertes
214376,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,COMPLETE,14-03-2012 15:40:34.231,NaN,NaN

In [54]:
#### BROKEN FUNCTION ####

def predNextEvent(df, num, trclst, evntlst, name, prd):
    '''Predicts the next event, based on the mode of next events happening in the trace'''
    for i in range(len(trclst)):
        trace = df[df[df.columns[num]] == trclst[i]].copy()
        for z in range(len(evntlst)):
            try:
                trace[prd] = trace[trace.columns[name] == evntlst[z]].mode()[0]    # the [0] makes sure only one prediction is assigned when the mode has more than 1 answer
                df.update(trace)
            except:
                print('error')
                pass
            
        return df

In [62]:
x[x.columns[4] == lstEvents[0]]   # if it works here, it should work also in the function, so udpdate accordingly

KeyError: False

In [55]:
predNextEvent(savedState, 1, traceEvents, lstEvents, 4, cPred)

error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error

,eventID,case concept:name,case REG_DATE,case AMOUNT_REQ,event concept:name,event lifecycle:transition,event time:timestamp,predicted next event,next event
0,0.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_SUBMITTED,COMPLETE,01-10-2011 00:38:44.546,NaN,A_PARTLYSUBMITTED
1,1.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PARTLYSUBMITTED,COMPLETE,01-10-2011 00:38:44.880,NaN,A_PREACCEPTED
2,2.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,A_PREACCEPTED,COMPLETE,01-10-2011 00:39:37.906,NaN,W_Completeren aanvraag
3,3.000000e+00,173688.0,2011-10-01T00:38:44.546+02:00,20000.0,W_Completeren aanvraag,SCHEDULE,01-10-2011 00:39:38.875,NaN,W_Completeren aanvraag
4,4.294967e+09,173691.0,2011-10-01T08:08:58.256+02:00,5000.0,A_SUBMITTED,COMPLETE,01-10-2011 08:08:58.256,NaN,A_PARTLYSUBMITTED
...,...,...,...,...,...,...,...,...,...
214372,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,O_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,A_CANCELLED
214373,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,A_CANCELLED,COMPLETE,14-03-2012 15:30:19.361,NaN,W_Nabellen incomplete dossiers
214374,3.883509e+13,201854.0,2012-01-18T02:09:07.029+01:00,50000.0,W_Nabellen incomplete dossiers,COMPLETE,14-03-2012 15:30:23.187,NaN,NaN
214375,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,START,14-03-2012 15:36:15.299,NaN,W_Nabellen offertes
214376,3.585868e+13,199678.0,2012-01-10T19:16:52.800+01:00,30000.0,W_Nabellen offertes,COMPLETE,14-03-2012 15:40:34.231,NaN,NaN

In [67]:
savedStated

NameError: name 'savedStated' is not defined

In [14]:
# y[cNew] = y[cEvent].shift(-1)

In [15]:
# df_train.update(y)

In [16]:
# df_train.head()

In [17]:
# df_train.head()

In [18]:
# df = pd.DataFrame(np.array([[1, 0, 0], [4, 0, 0], [4, 0, 0], [4,0,0], [4,0,0], [1,0,0], [1,0,0]]),
#                    columns=['a', 'b', 'c'])

In [19]:
# df

In [20]:
# addNextEvent(df, 0, [1,4], 'a', 'b')
# df

In [21]:
# z = df[df['a'] == 1]

In [22]:
# z['c'] = z['a'].shift(-1)
# z

In [23]:
# df.update(z)
# df